.faq {
  padding: 75px 30px;

  @include min-width($-bp-laptop) {
    padding: 100px 30px;
  }
  @include min-width($-bp-desktop) {
    padding: 100px 135px;
  }

  // .faq__container
  &__container {
    margin: 0 auto;

    @include min-width($-bp-desktop) {
      display: flex;
      justify-content: space-between;
      max-width: 1170px;
    }
  }

  // .faq__info-block
  &__info-block {
    @include min-width($-bp-desktop) {
      flex-basis: 34.19%;
    }
  }

  // .faq__heading
  &__heading {
    margin: 0 0 25px;
    line-height: 1;
    text-align: left;

    @include min-width($-bp-laptop) {
      line-height: 0.89;
      text-align: center;
    }
    @include min-width($-bp-desktop) {
      max-width: 329px;
      font-size: 40px;
      line-height: 0.89;
      line-height: 1;
      text-align: left;
      letter-spacing: normal;
    }
  }

  // .faq__info
  &__info {
    margin: 0 0 35px;
    font-size: 18px;
    line-height: 1.5;
    color: $-clr-mine-shaft;
    text-align: left;

    @include min-width($-bp-laptop) {
      padding: 0 100px;
      margin: 0 0 50px;
      line-height: 1.5;
      text-align: center;
      letter-spacing: -0.9px;
    }
    @include min-width($-bp-desktop) {
      max-width: 301px;
      padding: 0;
      text-align: left;
    }
  }

  // .faq__make-request
  &__make-request {
    font-weight: 500;
    color: $-clr-tapestry;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $-clr-flirt;
    }
  }

  // .faq__questions-block
  &__questions-block {
    @include min-width($-bp-desktop) {
      flex-basis: 65.81%;
    }
  }

  // .faq__question-list
  &__question-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  // .faq__question-item
  &__question-item {
    margin-bottom: 15px;
    background-color: $-clr-alabaster;
    @include min-width($-bp-laptop) {
      margin-bottom: 20px;
    }

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  // .faq__question-button
  &__question-button {
    position: relative;
    width: 100%;
    padding: 23px 80px 23px 25px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: $-clr-mine-shaft;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    background-color: $-clr-alabaster;
    border: 0;

    @include min-width($-bp-laptop) {
      padding: 25px 80px 25px 35px;
      font-size: 20px;
      line-height: normal;
      letter-spacing: -0.4px;
    }
  }

  // .faq__question-button-svg
  &__question-button-svg {
    position: absolute;
    top: 50%;
    right: 25px;
    color: $-clr-base-font-light;
    transition: color 0.2s ease-out;
    transform: translateY(-50%);

    @include min-width($-bp-laptop) {
      right: 30px;
      width: 38px;
      height: 38px;
    }

    @include min-width($-bp-desktop) {
      right: 35px;
    }
  }

  .faq__spoiler--open &__question-button-svg {
    color: $-clr-base-brand;
  }

  // .faq__spoiler-answer-wrapper
  &__spoiler-answer-wrapper {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.7s ease-out;
    will-change: max-height;
  }

  // .faq__spoiler-answer-wrapper
  &__spoiler--open &__spoiler-answer-wrapper {
    opacity: 1;
  }

  // .faq__answer-block
  &__answer-block {
    padding: 21px 25px 35px;

    @include min-width($-bp-laptop) {
      padding: 18px 40px 35px 75px;
    }
    @include min-width($-bp-desktop) {
      padding: 18px 35px 35px 100px;
    }
  }

  // .faq__answer
  &__answer {
    margin-top: 0;
    margin-bottom: 21px;
    line-height: 1.4;
    color: $-clr-mine-shaft;
    text-align: left;

    @include min-width($-bp-laptop) {
      font-size: 20px;
      font-weight: 400;
    }

    &:nth-last-of-type(1) {
      margin-bottom: 30px;
    }
  }
}
